@media only screen and (max-width: 780px) {

    .col_3 {
        width: 100%;
    }

    .header {
        margin: 3.5rem 2.5rem;
        flex-direction: column;
        position: relative;

        .container_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
        }
    } 

    .intro {
        flex-direction: column;
        margin: 0 0 16rem 0;
        text-align: center;

        .container_intro {
            margin: 3rem 2.5rem;

            h1 {
                font-size: 6.2rem;
            }
        }

        .container_img {
            order: -1;
            margin-left: 2.5rem;
            overflow: hidden;
        }
    }
}