$white_color: hsl(0, 0%, 100%);
$black_color: hsl(0, 0%, 0%);

// primary-colors
$bright_red_color: hsl(12, 88%, 59%);
$dark_blue_color: hsl(228, 39%, 23%);

// neutral colors
$dark_grayish_blue_color: hsl(227, 12%, 61%);
$very_dark_blue_color: hsl(233, 12%, 13%);
$very_pale_red_color: hsl(13, 100%, 96%);
$vary_light_gray_color: hsl(0, 0%, 98%);